/* Add CSS Styling */

.odd {
    background-color: lightpink;
    font-family: Verdana sans-serif;
}

#number_two {
    color:blue;
    font-size: 36px;
}

#number_four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}

#number_three {
    font-size: 24px;
}